.scroll {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    padding: 8px 16px;
    color: #9E9FA0;
    font-family: RidleyGroteskMedium;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    cursor: pointer;
}

.home-container{
    position: relative;
    margin-top: 80px;

}

.home-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: AkzidenzGroteskBoldExtended;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDEDED
}

.home-num {
    border-radius: 50%;
    border: 1px solid #D44217;
    width: 46px;
    font-family: AkzidenzGroteskBoldExtended;
    height: 46px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 9fr;
    margin-top: 40px;
}
@media (max-width: 835px){
    .home-content{
        display: flex;
        flex-direction: column;
    }
}
