@import "tailwindcss";

@theme {
  --breakpoint-3xl:1024px;
  --breakpoint-2xl: 835px;
  --breakpoint-xs: 590px;
}

.hero-space{
    width: 100%;
    padding: 10px;
}
.hero-content{
    z-index: 2;
    position: absolute;
    bottom: 100px;
    /* left: 70px; */
}
.hero-content2{
    /* left: 70px;  */
    bottom: 60px;
}
@media (max-width: 835px){
    .hero-content{
        bottom: 60px;
        /* left: 30px; */
    }
}
@media (max-width: 590px){
    .hero-content{
        bottom: 40px;
        /* left: 10px; */
    }
}
.hero-title{
    max-width: 794px;
    /* font-family: AkzidenzGroteskBoldExtended, GeistVariableVF; */
    font-family: GeistVariableVF;
    font-weight: 900;
    font-style: Bold;
    font-size: 66px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width: 835px){
    .hero-title{
        width: 100%;
        max-width: unset;
        /* font-size: 50px; */
    }
}
@media (max-width: 590px){
    .hero-title{
        font-size: 36px;
    }
}
.space{
    padding: 0 80px;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (max-width: 835px){
    .space{
        padding: 0 40px;
    }
}
@media (max-width: 590px){
    .space{
        padding: 0 16px;
    }
}

.crane-item{
    position: relative;
    height: 100%;
    overflow-y: hidden;
}
@media(max-width: 835px){
    .crane-item{
        flex: 0 0 60%;
    }
}

.home-text{
    background: -webkit-linear-gradient(#D44217, #252525);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: RidleyGroteskBold, GeistVariableVF; */
    font-family: GeistVariableVF;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}
@media(max-width: 590px){
    .home-text{
        font-size: 18px;
    }
}




 
.change-order .order-text{
    order: 1;
}

.change-order .order-img{
    order: 3;
}

.change-order:nth-of-type(2n) .order-text{
    order: 3;
}
.change-order:nth-of-type(2n) .change-grid{
  grid-template-columns: 6fr 1fr 4fr;
}
.change-order:nth-of-type(2n) .order-img{
    order: 1;
}

@media(max-width: 835px){
    .change-order .order-text{
        order: 3 !important;
    }
}
@media(max-width: 835px){
    .change-order .order-img{
        order: 1 !important;
    }
}


.cls-1 {
        letter-spacing: .60752em;
      }

      .cls-2 {
        letter-spacing: .71825em;
      }

      .cls-3 {
        stroke-width: 0px;
      }

      .cls-3, .cls-4 {
        fill: #fff;
      }

      .cls-5 {
        letter-spacing: .73267em;
      }

      .cls-6 {
        letter-spacing: .72373em;
      }

      .cls-7 {
        letter-spacing: .72127em;
      }

      .cls-8 {
        letter-spacing: .73187em;
      }

      .cls-4 {
        /* font-family: RidleyGrotesk-Bold, 'Ridley Grotesk'; */
        font-family: GeistVariableVF;
        font-size: 15.84801px;
        font-weight: 700;
      }

      .cls-9 {
        letter-spacing: .6965em;
      }

      .cls-10 {
        letter-spacing: .71221em;
      }

      .cls-11 {
        letter-spacing: .72497em;
      }

      .cls-12 {
        letter-spacing: .68349em;
      }

      .cls-13 {
        letter-spacing: .72016em;
      }

      .cls-14 {
        letter-spacing: .73507em;
      }

      .cls-15 {
        letter-spacing: .72503em;
      }

      .cls-16 {
        letter-spacing: .75399em;
      }

      .cls-17 {
        letter-spacing: .72835em;
      }